body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: repeating-linear-gradient(
        90deg,
        #b07d3b 0px,
        #b07d3b 40px,
        #6f8f8f 40px,
        #6f8f8f 80px
    );
}

/* Главный контейнер */
#startScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

/* Белые блоки */
.start-box {
    background: rgba(255,255,255,0.9);
    padding: 30px;
    border-radius: 15px;
    max-width: 900px;
    margin: 20px auto;
}

/* Заголовок */
h1 {
    background: rgba(255,255,255,0.9);
    padding: 20px;
    border-radius: 12px;
}

/* Список сказок */
ul {
    line-height: 1.6;
}

/* Кнопка */
button {
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background: #4a77c5;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #355ca0;
}

/* Счет */
#scoreBoard {
    position: fixed;
    right: 30px;
    top: 100px;
    background: #111;
    color: white;
    padding: 20px;
    border-radius: 12px;
    font-size: 20px;
}
